blinker
click
colorama
contourpy
cycler
Flask
Flask-SQLAlchemy
fonttools
greenlet
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pygame
pyparsing
python-dateutil
pytz
six
SQLAlchemy
typing_extensions
tzdata
Werkzeug
gunicorn
