<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Calendar App</title>
</head>
<body>
    <div class="container">
        <h1>{{ wordMonth }} {{ year }}</h1>
        <table border="1">
            <thead>
                <td>Sun</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
            </thead>
        <tbody>
            {% for row in calendar_data %}
                <tr>
                    {% for cell in row %}
                        <td>
                            {% if cell != ' ' %}
                                <a href="{{ url_for('display_events', year=year, month = month, wordMonth=wordMonth, day=cell) }}">{{ cell }}</a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <!-- Form to add event -->
    <form method="post" action="{{ url_for('add_event')}}">
        <button type="submit">Add Event or Task</button>
    </form>

    <!-- Form for changing the month -->
    <form method="post" action="{{ url_for('update_month', year=year, month=month) }}">
        <button type="submit" name="direction" value="prev">Previous Month</button>
        <button type="submit" name="direction" value="next">Next Month</button>
    </form>

    <!--Form for upcoming events-->
    <!--Form for upcoming events-->
    <form method="get" action="{{ url_for('upcoming_events') }}">
        <button type="submit">Upcoming Events and Tasks</button>
    </form>

</body>
</html>
