<!DOCTYPE html>
<html lang = "en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Events and Tasks</title>
    </head>

    <!-- -->
    <style>
        body {
            text-align: center; /* Center align the content */
        }

        form {
            display: inline-block; /* Make the form inline */
            margin-top: 20px; /* Add some top margin for spacing */
        }

        button {
            margin: 0 10px; /* Add margin to the buttons for spacing */
        }
    </style>

    <body>
        <div class="container">
            <h1>{{ wordMonth }} / {{ day }} / {{ year }}</h1>
                <ul id = "taskList">
                    {% for event in eventList %}
                    <li class = "taskList" >
                        {% if event[3] == 1%}
                        <input type = "checkbox" {% if event[4] == 1 %}checked {% endif %}>
                        {% endif %}
                        <span>{{event[1]}} </span>
                    </li>
                    {% endfor %}
                </ul>
        </div>
        <form method="post" action="{{ url_for('update_month', year=year, month=month) }}">
            <button type="submit" name="direction" value="back">Back to Calendar</button>
        </form>
        <form method="post" action="{{ url_for('display_events', year=year, month=month, day=day) }}">
            <button type="submit" name="direction" value="prev">Previous Day</button>
            <button type="submit" name="direction" value="next">Next Day</button>
        </form>
    </body>
</html>
